*{
    margin: 0px;
    padding: 0px;
}

img{
    max-width: 100%;
}

body{
    background-image: url("../imgs/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header{
    background-color: rgba(42, 28, 16, 0.7);
    border-top: 1px solid transparent;
    height:60px;
}

#header h1{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;

}

#pergunta{
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    margin-bottom: 25px;
}


#lista-perguntas{
    text-align: center;
    width: 80%;
    margin: auto;
}

#lista-perguntas li{
    list-style: none;
    color: gray;
    background-color: rgba(42, 28, 16, 0.7);
    display: inline-block;
    padding: 10px 25px 10px 25px;
    margin-bottom:  5px;
    width:80%;
}


@media screen and (min-width: 1000px){

    #lista-perguntas{
        width: 40%;
    }

}

#restart-div, #button-div{
    text-align: center;
}

button{
    width: 100px;
    color: black;
    background-color: rgba(42, 28, 16, 0.7);
}


#result{
    text-align: center;
    font-size: 20px;
}


footer{
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    font-size: 10px;
    padding-top: 10px;
    background-color: rgba(42, 28, 16, 0.7);
    text-align: center;
    color: gray;
}
